{% extends 'loginbase.html' %}

{% block header %}	
	<style type="text/css">		
		.input-group{
			margin-bottom: 20px;
		}
		.changePasswordHyperLink{
			margin-top: 10px;
			margin-left: 30px;
		}
		p{
			text-decoration: none;
		}
		a{
			color: #E4573D;
		}
		#tipsSentence{
			color: red;
			font-size: 17px;
		}
	</style>
	<script src= "/static_media/jquery/joint.js"></script>
	<script src= "/static_media/jquery/screenScrolling.js"></script>
	<script type="text/javascript">
		function resultToTips(result){
			if(result!= null){
				var errorDict= {
					'0': '请填写完整信息',
					'1': '信息格式错误',
					'2': '不存在的账户',
					'3': '错误的密码'
				};
				return errorDict[result];
			}else{
				return '';
			}
		};
		$(document).ready(function(){
			$('#tipsSentence').text(resultToTips({{RESULT}}));
			var screenScrollingHelper= new screenScrolling();
			screenScrollingHelper.animationTime= 1000;
			screenScrollingHelper.collect();
			screenScrollingHelper.bind();
		});
	</script>
{% endblock %}

{% block content %}
	<form id= "infoForm" action= "/novel/dologin/" method= "post">
		<div class= "input-group">
			<span class="input-group-addon">账户</span>
			<input id= "accInput" name= "acc" type= "text" class= "form-control" required="required"></input>
		</div>
		<div class= "input-group">
			<span class="input-group-addon">密码</span>
			<input id= "pwdInput" name= "pwd" type= "password" class= "form-control" required="required"></input>
		</div>
		<p id= "tipsSentence"></p>
		<div class= "input-group" display= "block">
			<button id= "submitBtn" type= "submit" class= "btn btn-info">登录</button>
			<a id= "changePasswordHyperLink" href= "/novel/forget/"><u>忘记密码</u></a>
		</div>
	</form>
	<p>还没有账户? 您可以在此<a href= "/novel/Register/"><u>注册</u></a></p>
	<p style= 'color: red;'>请使用chrome或firefox浏览器访问本站.</p>
{% endblock %}

{% block screen %}
	<div class= "screen screen_scrolling">
		<img src="/static_media/picture/screen2.jpg" width= "100%" height= "100%">
	</div>
	<div class= "screen screen_scrolling">
		<img src="/static_media/picture/screen3.jpg" width= "100%" height= "100%">
	</div>
	<div class= "screen screen_scrolling">
		<img src="/static_media/picture/screen4.jpg" width= "100%" height= "100%">
	</div>
{% endblock %}
