<html>
	<head>
		<meta http-equiv= "content-type" content= "text/html; charset= gb2312"/>
		<title>PING实验</title>
	</head>
	<script>
		var ys= null;
		function Init(){
			var ip= window.dialogArguments.getHostIP();
			var gateIP= window.dialogArguments.getGateIP();
			if(ip.length> 0){
				var table= document.getElementById("ipTable");
				var row= table.rows[1];
				var cell= row.cells[0];
				var ipAddr= ip.concat(".");
				var si= 0;
				var li= 0;
				for(var i= 0; i< 4; i++){
					while(ipAddr[li]!= '.'){
						li++;
					}
					var str= ipAddr.substring(si, li);
					var child= cell.children[i];
					child.value= str; 
					li++;
					si= li;
				}
			}
			if(gateIP.length> 0){	
				var table= document.getElementById("gateIPTable");
				var row= table.rows[1];
				var cell= row.cells[0];
				var ipAddr= gateIP.concat(".");
				var si= 0;
				var li= 0;
				for(var i= 0; i< 4; i++){
					while(ipAddr[li]!= '.'){
						li++;
					}
					var str= ipAddr.substring(si, li);
					var child= cell.children[i];
					child.value= str; 
					li++;
					si= li;
				}
			}
		}
        	function show(obj){
                	ys=obj.bgColor;
                	obj.bgColor="red";
                }
                function noshow(obj){
                        obj.bgColor=ys;
                }
		function keyListener(taName, maxLength){
			var textAr= taName.value;
			var charCode= taName.value.charAt(taName.value.length- 1);
			if(charCode>= '0'){
				if(charCode<= '9'){
					if((textAr.length)> maxLength){
						taName.value= taName.value.substring(0, maxLength);
					}
				}else{
					taName.value= taName.value.substring(0, taName.value.length- 1);
				}
			}else{
				taName.value= taName.value.substring(0, taName.value.length- 1);
			}
		}
		function clickListener(){
			var ipTable= document.getElementById("ipTable");
			var gateIPTable= document.getElementById("gateIPTable");
			var ip;
			var gateIP;
			for(var i= 1; i< ipTable.rows.length; i++){
				var row= ipTable.rows[i];
				var cell= row.cells[0];
				var str= "";
				for(var j= 0; j< cell.children.length; j++){
					if(cell.children[j].value.length<= 0){
						alert("请完整填写IP地址!");
						return false;
					}else{
						str= str.concat(cell.children[j].value);
						if(j!= cell.children.length- 1){
							str= str.concat(".");
						}
					}
				}
				ip= str;
			}
			window.dialogArguments.setHostIP(ip);
			for(var i= 1; i< gateIPTable.rows.length; i++){
				var row= gateIPTable.rows[i];
				var cell= row.cells[0];
				var str= "";
				for(var j= 0; j< cell.children.length; j++){
					if(cell.children[j].value.length<= 0){
						alert("请完整填写网关IP地址!");
						return false;
					}else{
						str= str.concat(cell.children[j].value);
						if(j!= cell.children.length- 1){
							str= str.concat(".");
						}
					}
				}
				gateIP= str;
			}
			window.dialogArguments.setGateIP(gateIP);
			window.returnValue= window.dialogArguments;
			window.close();
		}
	</script>
	<body onload= "Init()">
		<p align= "center"> <font size= "+9">主机配置</font> </p>
			<hr width= "700" size= "2" color= "#CC6600">
			<p align= "center">
				<table id= "ipTable" marginTop= "200px" border= "0" width= "600" align= "center">
					<tr onmouseover= "show(this)" onmouseout= "noshow(this)" bgcolor= "#cccccc">
						<td> IP地址 </td>
					</tr>
					<tr>
						<td>
							<textarea rows= "1" cols= "5" style= "OVERFLOW: hidden" onkeyup= "keyListener(this, 3)"></textarea>
		   .
							<textarea rows= "1" cols= "5" style= "OVERFLOW: hidden" onkeyup= "keyListener(this, 3)"></textarea>
		   .
							<textarea rows= "1" cols= "5" style= "OVERFLOW: hidden" onkeyup= "keyListener(this, 3)"></textarea>
		   .
							<textarea rows= "1" cols= "5" style= "OVERFLOW: hidden" onkeyup= "keyListener(this, 3)"></textarea>
						</td>
					</tr>
				</table>
			</p>
			<hr width= "700" size= "2" color= "#CC6600">
			<p align= "center">
				<table id= "gateIPTable" marginTop= "200px" border= "0" width= "600" align= "center">
					<tr onmouseover= "show(this)" onmouseout= "noshow(this)" bgcolor= "#cccccc">
						<td> 网关地址 </td>
					</tr>
					<tr>
						<td>
							<textarea rows= "1" cols= "5" style= "OVERFLOW: hidden" onkeyup= "keyListener(this, 3)"></textarea>
		   .
							<textarea rows= "1" cols= "5" style= "OVERFLOW: hidden" onkeyup= "keyListener(this, 3)"></textarea>
		   .
							<textarea rows= "1" cols= "5" style= "OVERFLOW: hidden" onkeyup= "keyListener(this, 3)"></textarea>
		   .
							<textarea rows= "1" cols= "5" style= "OVERFLOW: hidden" onkeyup= "keyListener(this, 3)"></textarea>
						</td>
					</tr>
				</table>
			</p>
			<p align= "center">
				<button type= "button" onclick= "clickListener()">	
					确认
				</button>	
			</p>
		</form>	
	</body>
</html>


