{% extends 'loginbase.html' %}

{% block header %}
	<style type= "text/css"> 
		.input-group{
			margin-bottom: 20px;
		}
		#changePasswordHyperLink{
			margin-top: 10px;
			margin-left: 30px;
		}
		p{
			text-decoration: none;
		}
		a{
			color: #E4573D;
		}
		#tipsSentence{
			color: red;
			font-size: 17px;
		}
	</style>
	<script>
		function resultToTips(result){
			var num= parseInt(result);
			switch(num){
				case (1):
					return "请输入完整信息";
				case (2):
					return "已有账户";
				case (3):
					var a= $("<a></a>");
					$('#tipsSentence').css('font-size', "19px");
					$('#tipsSentence').css('font-weight', "bold");
					a.attr("href", "../");
					a.html("注册成功, 网页将自动返回至登录页面, 如未自动返回, 请点击此链接.");
					setTimeout("Jump()", 5000);
					return a;
			}
		}
		function Jump(){
			location.href= "../";
		}
		$(document).ready(function(){
			var result= {{RESULT}};
			if(result!= null){
			window.console.log(result);
				$('#tipsSentence').html(resultToTips(result));
			}
		});
	</script>
{% endblock %}

{% block content %}
	<form id= "infoForm" action= "/mysite/doregister/" method= "post">
		{% csrf_token %}
		<div class= "input-group">
			<span class="input-group-addon">账户</span>
			<input id= "accInput" name= "accInfo" type= "text" class= "form-control" required= "required"></input>
		</div>
		<div class= "input-group">
			<span class="input-group-addon">密码</span>
			<input id= "pwdInput" name= "pwdInfo" type= "text" class= "form-control" required= "required"></input>
		</div>
		<p id= "tipsSentence"></p>
		<div class= "input-group" display= "block">
			<button id= "submitBtn" type= "submit" class= "btn btn-info ">注册</button>
		</div>
	</form>
	<p>已有账户? 您可以在此<a href= "/mysite/"><u>登录</u></a></p>
{% endblock %}